
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Inter-Display';
    /*src: local('InterDisplayRegular'), url('/src/assets/InterDisplay/InterDisplay-Regular.otf') format('woff2');*/

    /*src: local('InterDisplayBold'), url('/src/assets/InterDisplay/InterDisplay-Bold.otf') format('woff2');*/
    /*src: local('InterDisplayBlack'), url('/src/assets/InterDisplay/InterDisplay-Black.otf') format('woff2');*/
    src: local('InterDisplayExtraBold'), url('/src/assets/InterDisplay/InterDisplay-ExtraBold.otf') format('woff2');
    /*src: local('InterDisplayExtraLight'), url('/src/assets/InterDisplay/InterDisplay-ExtraLight.otf') format('woff2');*/
    /*src: local('InterDisplayLight'), url('/src/assets/InterDisplay/InterDisplay-Light.otf') format('woff2');*/
    /*src: local('InterDisplayMedium'), url('/src/assets/InterDisplay/InterDisplay-Medium.otf') format('woff2');*/
    /*src: local('InterDisplaySemiBold'), url('/src/assets/InterDisplay/InterDisplay-SemiBold.otf') format('woff2');*/
    /*src: local('InterDisplayThin'), url('/src/assets/InterDisplay/InterDisplay-Thin.otf') format('woff2');*/
    /* Add other font formats and variations as needed */


    /*font-family: 'Inter-Display400';*/
    /*!*src: local('InterDisplayRegular'), url('/src/assets/InterDisplay/InterDisplay-Regular.otf') format('woff2');*!*/

    /*!*src: local('InterDisplayBold'), url('/src/assets/InterDisplay/InterDisplay-Bold.otf') format('woff2');*!*/
    /*!*src: local('InterDisplayBlack'), url('/src/assets/InterDisplay/InterDisplay-Black.otf') format('woff2');*!*/
    /*!*src: local('InterDisplayExtraBold'), url('/src/assets/InterDisplay/InterDisplay-ExtraBold.otf') format('woff2');*!*/
    /*!*src: local('InterDisplayExtraLight'), url('/src/assets/InterDisplay/InterDisplay-ExtraLight.otf') format('woff2');*!*/
    /*!*src: local('InterDisplayLight'), url('/src/assets/InterDisplay/InterDisplay-Light.otf') format('woff2');*!*/
    /*!*src: local('InterDisplayMedium'), url('/src/assets/InterDisplay/InterDisplay-Medium.otf') format('woff2');*!*/
    /*src: local('InterDisplaySemiBold'), url('/src/assets/InterDisplay/InterDisplay-SemiBold.otf') format('woff2');*/
    /*!*src: local('InterDisplayThin'), url('/src/assets/InterDisplay/InterDisplay-Thin.otf') format('woff2');*!*/
    /*!* Add other font formats and variations as needed *!*/
}


*{
    font-family: Inter;
}

.fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.available{

    padding: 10px 16px;
    align-items: center;
    gap: 12px;
    width: max-content;



    border-radius: 240px;
    border: 1px solid #D7DDE4;
    background: transparent;
    color:#000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; /* 125% */
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

}

.outer{
    width: 20px;
    height: 20px;
    fill: #06CD2F;

    border-radius: 50px;
}

.smouter{
    width: 8px;
    height: 8px;
    background-color: #06CD2F;
    border-radius: 50px;
    align-self: center;


}