
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Inter-Display';
    src: local('InterDisplayRegular'), url('/InterDisplay/InterDisplay-Regular.otf') format('woff2');

    src: local('InterDisplayBlack'), url('/InterDisplay/InterDisplay-Black.otf') format('woff2');
    /* Add other font formats and variations as needed */
}


:root{
    font-family: Inter, serif;
}

.fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: translateY(0);
}

