
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Inter-Display';
     src: local('InterDisplayRegular'), url('/src/assets/InterDisplay/InterDisplay-Regular.otf') format('opentype');
     src: local('InterDisplayExtraBold'), url('/src/assets/InterDisplay/InterDisplay-ExtraBold.otf') format('opentype');

}


body{
    font-family: Inter, sans-serif;
}

.fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: translateY(0);
}

.available{

    padding: 10px 16px;
    align-items: center;
    gap: 12px;
    width: max-content;



    border-radius: 240px;
    border: 1px solid #D7DDE4;
    background: transparent;
    color:#000;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px; /* 125% */
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

}

.outer{
    width: 20px;
    height: 20px;
    fill: #06CD2F;

    border-radius: 50px;
}

.smouter{
    width: 8px;
    height: 8px;
    background-color: #06CD2F;
    border-radius: 50px;
    align-self: center;


}